{
	"semi": true,
	"trailingComma": "none",
	"singleQuote": true,
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"endOfLine":"auto",
	"jsxSingleQuote": true,
	"arrowParens": "always",
	"jsxBracketSameLine": false,
	"parser": "typescript",
	"bracketSpacing": true,
	"filepath": "",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"overrides": [],
	"plugins": [],
	"pluginSearchDirs": [],
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"vueIndentScriptAndStyle": false,
	"rangeEnd": 0,
	"rangeStart": 0,
	"cursorOffset": -1
}