<li>
	<a href="{{ path('main_page') }}">Página principal</a>
</li>
<li>
	<a href="{{ path('courses_list') }}">Cursos</a>
</li>
<li>
	<a href="{{ path('register') }}">Registrate</a>
</li>
<li>
	<a href="{{ path('app_login') }}">Acceso</a>
</li>
